:root {
     --bg-color-1: #fcedec;
     --bg_color_2: #f6f6f6;
     --bg_color_3: #fcedec;
}
.swiper-slide {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 22px;
     font-weight: bold;
     color: #fff;
     // max-width: 600px;
}
.home_header_swiper {
     // margin: 100px auto;
     // z-index: -1;
     // width: 100%;
     height: 491px;
     padding: 60px 30px;
     .swiper-slide {
          border-radius: 15px;
     }
     .swiper-slide:nth-child(1n) {
          background-color: var(--bg-color-1);
     }

     .swiper-slide:nth-child(3n) {
          background-color: var(--bg_color_2);
     }
}

.home_featured_swiper {
     width: 800px;
     height: 400px;
     .swiper-slide-active {
          transform: scale(1.2);
          transition: 0.3s all ease;
     }
     .swiper-slide {
          background-color: red;
     }
}
